<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
 
    <div class="header">
        <div class="header-left">
            <h1 >掲示板</h1>
            <div class="clear"></div>
        </div>
        
        
        <div class="clear"></div>
        <div class="main-menu">
            <h3 class="menu-link" href="" >未経験案内</h3>
            <h3 class="menu-link" href="">掲示板の使い方</h3>
            <h3 class="menu-link" href="">学習サイト</h3>
            <details class="categories-link">
                <summary>カテゴリー</summary>
                <ul id="categories">
                    <li href="">分野</li>
                    <details class="sub">
                        <summary>フロントエンド
                        </summary>
                    <!--</summary>の下にサブカテゴリを入れる-->
                        <li href="">HTML&CSS</li>
                        <li href="">JavaScript</li>
                    </details>
                    <details class="sub">
                        <summary>バックエンド
                        </summary>
                        <li href="">HTML&CSS</li>
                        <li href="">JavaScript</li>
                    </details>
                    <details class="sub">
                        <summary>インフラ
                        </summary>
                        <li href="">HTML&CSS</li>
                        <li href="">JavaScript</li>
                    </details>
                    <details class="sub">
                        <summary>ゲーム
                        </summary>
                        <li href="">HTML&CSS</li>
                        <li href="">JavaScript</li>
                    </details>
                    <details class="sub">
                        <summary>各言語
                        </summary>
                        <li href="">HTML&CSS</li>
                        <li href="">JavaScript</li>
                    </details>
                    <li href="">各スレッド</li>
                </ul>
            </details>
            
            
            
            

        </div>
    </div>
    
    
    
    <div class="hamburger-menu">
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <div class="menu-content">
            <h2>月別記事メニュー</h2>
            <ul>
                <li>
                    <a href="">2024年9月分の記事</a>
                </li>
                <li>
                    <a href="">2024年10月分の記事</a>
                </li>
                <li>
                    <a href="">2024年11月分の記事</a>
                </li>

            </ul>
        </div>
    </div>
</body>
</html>