<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="css/style-common.css">
</head>
<body>
 
    <div class="header">
        <div class="header-left">
            <h1 >掲示板</h1>
            <div class="clear"></div>
        </div>
        
        
        <div class="clear"></div>
        <div class="main-menu">
            <h3 class="menu-link" href="" >未経験案内</h3>
            <h3 class="menu-link" href="">掲示板の使い方</h3>
            <h3 class="menu-link" href="">学習サイト</h3>
            <details class="categories-link">
                <summary>カテゴリー</summary>
                <ul id="categories">
                    <li> <a href="">分野</li>
                    <details class="sub">
                        <summary>フロントエンド
                        </summary>
                    <!--</summary>の下にサブカテゴリを入れる-->
                        <li>
                            <a href="../frontend/html-content.php">HTML</a>

                            </li>
                        <li> 
                            <a href="../frontend/css-content.php">CSS</a>                    
                        </li>
                        <li>
                            <a href="../frontend/js-content.php">JavaScript</a>

                        </li>
                    </details>
                    <details class="sub">
                        <summary>バックエンド
                        </summary>
                        <li> 
                            <a href="../backend/py-content.php">Python</a>                              
                        </li>
                        <li> 
                            <a href="../backend/php-content.php">PHP</a>
                        </li>
                        <li> 
                            <a href="../backend/java-content.php">Java</a>
                        </li>
                    </details>
                    <details class="sub">
                        <summary>インフラ
                        </summary>
                        <li> 
                            <a href="">Python</a>
                        </li>
                        <li> 
                            <a href="">Ruby</a>
                        </li>
                        <li> 
                            <a href="">Java</a>
                        </li>
                    </details>
                    <details class="sub">
                        <summary>ゲーム
                        </summary>
                        <li> 
                            <a href="../games/cpp-content.php">C++</a>
                        </li>
                        <li> <a href="../games/cs-content.php">C#</a>
                        </li>
                        <li> 
                            <a href="">Swift</a>
                        </li>
                    </details>
                    <details class="sub">
                        <summary>各言語
                        </summary>
                        <li> 
                            <a href="">HTML</a>
                        </li>
                        <li> 
                            <a href="">CSS</a>
                        </li>
                        <li> 
                            <a href="">JavaScript</a>
                        </li>
                        <li> 
                            <a href="">Python</a>
                        </li>
                        <li> 
                            <a href="">Java</a>
                        </li>
                        <li> 
                            <a href="">Ruby</a>
                        </li>
                        <li> 
                            <a href="">C++</a>
                        </li>
                        <li> 
                            <a href="">C#</a>
                        </li>
                        <li> 
                            <a href="">Swift</a>
                        </li>
                    </details>
                    <li> <a href="">各スレッド</li>
                </ul>
            </details>
            
            
            
            

        </div>
    </div>
    
    
    
    <div class="hamburger-menu">
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <div class="menu-content">
            <h2>月別記事メニュー</h2>
            <ul>
                <li>
                    <a href="">2024年9月分の記事</a>
                </li>
                <li>
                    <a href="">2024年10月分の記事</a>
                </li>
                <li>
                    <a href="">2024年11月分の記事</a>
                </li>

            </ul>
        </div>
    </div>
</body>
</html>