<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>掲示板未経験者案内</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="D:\★★★★★★★★★★★portfolio\dc_tennoji_web_bulletin_board\template\common\css\Beginner.css">
</head>

<body>
    <div class="header">
        <div class="header-left">
            <h1 >掲示板</h1>
            <div class="clear"></div>
        </div>
        
        
        <div class="clear"></div>
        <div class="main-menu">
            <h3><a class="menu-link" href="掲示板モック.html#article">HOME</a></h3>
            <h3><a class="menu-link" href="未経験案内.html#article-img">未経験案内</a></h3>
            <h3><a class="menu-link" href="掲示板の使い方.html#article-title">掲示板の使い方</a></h3>
            <h3><a class="menu-link" href="">学習サイト</a></h3>
            <details class="categories-link">
                <summary>カテゴリー</summary>
                <ul id="categories">
                    <li href="">分野</li>
                    <details class="sub">
                        <summary>フロントエンド
                        </summary>
                    <!--</summary>の下にサブカテゴリを入れる-->
                        <li href="">HTML&CSS</li>
                        <li href="">JavaScript</li>
                    </details>
                    <details class="sub">
                        <summary>バックエンド
                        </summary>
                        <li href="">HTML&CSS</li>
                        <li href="">JavaScript</li>
                    </details>
                    <details class="sub">
                        <summary>インフラ
                        </summary>
                        <li href="">HTML&CSS</li>
                        <li href="">JavaScript</li>
                    </details>
                    <details class="sub">
                        <summary>ゲーム
                        </summary>
                        <li href="">HTML&CSS</li>
                        <li href="">JavaScript</li>
                    </details>
                    <details class="sub">
                        <summary>各言語
                        </summary>
                        <li href="">HTML&CSS</li>
                        <li href="">JavaScript</li>
                    </details>
                    <li href="">各スレッド</li>
                </ul>
            </details>
            
            
            
            

        </div>
    </div>
    
    
    
    <div class="hamburger-menu">
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <div class="menu-content">
            <h2>月別記事メニュー</h2>
            <ul>
                <li>
                    <a href="">2024年9月分の記事</a>
                </li>
                <li>
                    <a href="">2024年10月分の記事</a>
                </li>
                <li>
                    <a href="">2024年11月分の記事</a>
                </li>

            </ul>
        </div>
    </div>



    <main>
        <div class="main-img">

        </div>

        <div class="container">

            <div class="article">
                <form method="get" action="#" class="search_container">
                    <input type="text" size="25" placeholder=" キーワード検索">
                    <input type="submit" value="検索">
                </form>

            </div>

            <div id="article-img">
                <h2>未経験者案内</h2>
                <h3>フロントエンドとは？</h3>
                <img src="D:\★★★★★★★★★★★portfolio\dc_tennoji_web_bulletin_board\image\フロントエンド画像.png" alt="">
                <p>フロントエンドはユーザーに表示されるもので、ボタン、チェックボックス、グラフィック、
                    テキストメッセージなどの視覚要素が含まれています。これにより、ユーザーはアプリケーションを操作できます。</p>

            </div>

            <div class="backend">
                <h3>バックエンドとは？</h3>
                <img src="D:\★★★★★★★★★★★portfolio\dc_tennoji_web_bulletin_board\image\バックエンド画像.png" alt="">
                <p>飛行機の予約システムを例にとると、指定した空港から空港間でその日に運行している便一覧の取得や、
                    空席情報検索時の情報取得、支払いに関するクレジットカードの処理などがバックエンド側の役割となり、
                    このようなユーザーからは直接見えていないサーバーでの処理を行います。
                </p>

            </div>

            <div class="inhura">
                <h3>インフラエンジニアとは？</h3>
                <img src="D:\★★★★★★★★★★★portfolio\dc_tennoji_web_bulletin_board\image\インフラ画像.png"alt="">
                <p>日常生活で電気・水道などの社会インフラが必要であることと同様に、私たちがITシステムやインターネットを使用するためは、
                    OS・ネットワーク・サーバーといったITインフラが欠かせません。
                    そのITインフラの設計・構築・運用・保守に従事する技術者が、インフラエンジニアです。
                </p>
            </div>

            <div class="game">
                <h3>ゲームエンジニアとは？</h3>
                <img src="D:\★★★★★★★★★★★portfolio\dc_tennoji_web_bulletin_board\image\ゲーム画像.png" alt="">
                <p>ゲームエンジニアとは、家庭用ゲームやスマ―トフォンアプリケーションのゲーム、PCゲームなどの制作に携わるエンジニアです。
                    ゲームプログラマーと呼ばれることもありますが、近年はゲーム制作に必要な知識がプログラミングに限らないため、
                    より広い職務を示すエンジニアという表現が多く使われています。
                </p>
            </div>
        </div>






    </main>

    <footer>
        <p class="copyright">Copyright©2024 d-coreer天王寺オフィス</p>

    </footer>
</body>

</html>