<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>掲示板未経験者案内</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="dc_tennoji_web_bulletin_board\template\common\css\Beginner.css">
</head>

<body>
    <div class="header">
        <div class="header-left">
            <h1 >掲示板</h1>
            <div class="clear"></div>
        </div>
        
        
        <div class="clear"></div>
        <div class="main-menu">
            <h3><a class="menu-link" href="掲示板モック.html#article">HOME</a></h3>
            <h3><a class="menu-link" href="未経験者案内.html#article-img">未経験案内</a></h3>
            <h3><a class="menu-link" href="掲示板の使い方.html#article-title">掲示板の使い方</a></h3>
            <h3><a class="menu-link" href="学習ページ.html#main-content">学習サイト</a></h3>
            <details class="categories-link">
                <summary>カテゴリー</summary>
                <ul id="categories">
                    <li href="">分野</li>
                    <details class="sub">
                        <summary>フロントエンド
                        </summary>
                    <!--</summary>の下にサブカテゴリを入れる-->
                        <li href="">HTML&CSS</li>
                        <li href="">JavaScript</li>
                    </details>
                    <details class="sub">
                        <summary>バックエンド
                        </summary>
                        <li href="">HTML&CSS</li>
                        <li href="">JavaScript</li>
                    </details>
                    <details class="sub">
                        <summary>インフラ
                        </summary>
                        <li href="">HTML&CSS</li>
                        <li href="">JavaScript</li>
                    </details>
                    <details class="sub">
                        <summary>ゲーム
                        </summary>
                        <li href="">HTML&CSS</li>
                        <li href="">JavaScript</li>
                    </details>
                    <details class="sub">
                        <summary>各言語
                        </summary>
                        <li href="">HTML&CSS</li>
                        <li href="">JavaScript</li>
                    </details>
                    <li href="">各スレッド</li>
                </ul>
            </details>
            
            
            
            

        </div>
    </div>
    
    
    
    <div class="hamburger-menu">
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <div class="menu-content">
            <h2>月別記事メニュー</h2>
            <ul>
                <li>
                    <a href="">2024年9月分の記事</a>
                </li>
                <li>
                    <a href="">2024年10月分の記事</a>
                </li>
                <li>
                    <a href="">2024年11月分の記事</a>
                </li>

            </ul>
        </div>
    </div>



    <main>
        <div class="main-img">

        </div>

        <div class="container">

            <div class="article">
                <form method="get" action="#" class="search_container">
                    <input type="text" size="25" placeholder=" キーワード検索">
                    <input type="submit" value="検索">
                </form>

            </div>

            <div id="article-img">
                <h2>未経験者案内</h2>
                <h3>フロントエンドとは？</h3>
                <img src="dc-web\dc_tennoji_web_bulletin_board\image\フロントエンド画像.png" alt="">
                <ul>
                    <li>HTML、CSS、JavaScriptなどのスキル</li>
                    <li>バックエンドに関する知識</li>
                    <li>デザインに関する知識</li>
                    <li>UI・UX設計</li>

                </ul>
                <p>フロントエンドはユーザーに表示されるもので、ボタン、チェックボックス、グラフィック、テキストメッセージなどの視覚要素が含まれています。
                    これにより、ユーザーはアプリケーションを操作できます。
                    フロントエンドエンジニアの仕事は、Webデザイナーが作ったデザインを再現し、ブラウザに表示させることです。 
                    HTMLやCSSはもちろん、JavaScriptを一から記述できるスキルは必須です。 
                    フロントエンドエンジニアはJavaScriptを使用し、双方向な表現が
                    可能なWebサイトの構築など、高い技術が要求されます。</p>

            </div>

            <div class="backend">
                <h3>バックエンドとは？</h3>
                <img src="image/image/バックエンド画像.png" alt="">
                <ul>
                    <li>プログラミング言語を使った開発スキル</li>
                    <li>フレームワークに関する知識</li>

                </ul>
                <p>飛行機の予約システムを例にとると、指定した空港から空港間でその日に
                    運行している便一覧の取得や、空席情報検索時の情報取得、支払いに関する
                    クレジットカードの処理などがバックエンド側の役割となり、
                    このようなユーザーからは直接見えていないサーバーでの処理を行います。
                    Webサイトを利用するユーザーには見えない部分を担当する職種です。 
                    例えば、サーバサイドのシステム構築やデータベースの構築が挙げられます。 
                    システム構築とは、情報システムの設計や機器の設置をする仕事です。 
                    具体的にはシステムで使用するハードウェアの選定や導入、
                    セキュリティなどを担当します。
                </p>

            </div>

            <div class="sisutemu">
                <h3>システムエンジニアとは？</h3>
                <img src="image\image\システムエンジニア.png"alt="">
                <ul>
                    <li>プログラミング言語・スキル</li>
                    <li>サーバーやネットワークの知識</li>
                    <li>セキュリティ関連の知識</li>
                    <li>データベースの知識</li>
                    <li>マネジメントスキル</li>
                </ul>
                <p>システムエンジニア（SE）とは、クライアントの要望や要求に合わせて
                    システムを設計するエンジニアのことを言います。
                    エンジニアの仕事内容は、上流工程と下流工程の2つに分けられます。
                    要件定義・基本設計・詳細設計などは上流工程で、開発やテストや運用・保守管理の業務は下流工程の仕事となりますが、このうち、システムエンジニアは主に上流工程を担当します。</p>
            </div>

            <div class="purogurama-">
                <h3>プログラマーとは？</h3>
                <img src="image/image/プログラマー.png" alt="">
                <ul>
                    <li>プログラミング言語・スキル</li>
                    <li>フレームワーク</li>
                    <li>ライブラリの作成方法</li>
                    <li>データベース</li>
                    <li>情報収集力</li>
                </ul>
                <p>プログラマー(PG)の仕事内容は、SE（システムエンジニア）が設計した仕様書に基づいてプログラミングを行うことです。 
                    プログラミングだけではなく、設計どおりに動作するかのテストや、
                    バグを見つけて修正する作業も含まれます。</p>
            </div>

            <div class="apuri">
                <h3>アプリケーションエンジニアとは？</h3>
                <img src="image\image\アプリ.png" alt="">
                <ul>
                    <li>システム開発に関するスキル</li>
                    <li>ネットワークやデータベースの知識</li>
                    <li>フレームワークの知識</li>
                    <li>マネジメントスキル</li>
                </ul>
                <p>アプリケーションエンジニアの仕事内容は、アプリケーションのシステム設計からプログラミング、動作テスト、運用、メンテナンスなど、幅広い業務を
                    行います。 どんなアプリを作るのか、企画から始めて、実際にアプリの開発を行い、リリースした後もサービスを継続し、必要に応じた機能の追加や
                    改善作業などが主な業務となります。</p>
            </div>

            
            <div class="kumikomi">
                <h3>組込みエンジニアとは？</h3>
                <img src="image\image\組込みエンジニア.png" alt="">
                <ul>
                    <li>アセンプリ言語</li>
                    <li>OSの知識</li>
                    <li>マイコンの知識</li>
                    <li>ハードウェアの知識</li>
                    <li>ソフトウェアの知識</li>
                </ul>
                <p>組込みエンジニアの主な業務内容は、家電製品や電子機器などのハードウェアに搭載されるシステムの設計と開発です。
                    例えば、工場のプラントを制御するシステムや、ウェアラブルデバイスに
                    組み込まれるセンサー、
                    炊飯器や洗濯機などに搭載されるマイコンなどが挙げられます。</p>
                
            </div>


            <div class="inhura">
                <h3>インフラエンジニアとは？</h3>
                <img src="image/image/インフラ画像.png" alt="">
                <ul>
                    <li>OSに関する知識</li>
                    <li>セキュリティに関する知識</li>

                </ul>
                <p>日常生活で電気・水道などの社会インフラが必要であることと同様に、
                    私たちがITシステムやインターネットを使用するためは、
                    OS・ネットワーク・サーバーといったITインフラが欠かせません。
                    そのITインフラの設計・構築・運用・保守に従事する技術者が、
                    インフラエンジニアです。
                    インフラエンジニアはサーバーの設計、構築、保守・運用などを担当する
                    エンジニアです。 
                    サーバーはコンピューターシステム、ネットワークに不可欠な存在で、
                    インフラ側になります。 
                    インフラなのでシステムを直接的に開発するというよりは、ITサービスを提供するための縁の下の力持ちと表現されることの多い職種です。
                </p>
            </div>

            <div class="nekko">
                <h3>ネットワークエンジニアとは？</h3>
                <img src="image\image\ネットワークエンジニア.png" alt="">
                <ul>
                    <li>ネットワーク技術に関する豊富な知識</li>
                    <li>課題やエラーを論理的に解決する能力</li>
                </ul>
                <p>ネットワークエンジニアは、企業における情報やデータのやりとりを安全かつ円滑に行うためのネットワークシステム設計から構築、運用などを広く担う
                    仕事です。
                    データのやりとりは通信機器やコンピュータを介して行われるため、
                    複数の機器間でのデータの受け渡しや共有を問題なく行うための快適な
                    ネットワーク環境を調整する必要があります。</p>
            </div>
            
            <div class="deta">
                <h3>データベースエンジニアとは？</h3>
                <img src="image\image\データベースエンジニア.png" alt="">
                <ul>
                    <li>データベースに関する知識</li>
                    <li>企業のIT戦略と方針に関する理解</li>
                </ul>
                <p>「データベース」とは企業が扱う膨大な量のデータを保持し、
                    必要なデータを「検索したり抽出したりするための入れ物のようなもの。
                    その入れ物の最適な容量を決めたり、どんな順序でデータを並べるか、
                    どう仕切って入れておいたら出し入れしやすいかを考え整理整頓するのが
                    データベースエンジニアの仕事です。</p>
            </div>

            <div class="IT">
                <h3>社内SEとは？
                    （システムエンジニア）
                </h3>
                <img src="image\image\社内SE.png" alt="">
                <ul>
                    <li>予算管理スキル</li>
                    <li>プロジェクトマネジメントスキル</li>
                    <li>プログラミングスキル</li>
                    <li>ユーザビリティを考慮したシステム開発</li>
                    <li>顧客折衝やマネジメント経験</li>
                </ul>
                <p>社内SEはSE（システムエンジニア）の一種で、「自社内」の業務に特化して
                    いるのが特徴です。
                    社内システム企画と呼ばれることもあり、システムの開発・運用
                    セキュリティー対策・社内コミュニケーションの活性化など自社のIT関連業務に幅広く携わります。</p>
            </div>

            <div class="se-rusu">
                <h3>セールスエンジニアとは？</h3>
                <img src="image\image\セールスエンジニア.png" alt="">
                <ul>
                    <li>基本的なITスキル</li>
                    <li>コミュニケーション能力</li>
                    <li>ヒアリング・提案能力</li>
                    <li>資料作成スキル</li>
                    <li>英語力</li>

                </ul>
                <p>セールスエンジニアとは、営業職が製品やサービスを販売できるように
                    技術的なサポートをする仕事です。
                     顧客に製品やサービスを提案し、要望に合わせたサンプルプログラムを
                     作るといった業務があります。</p>
            </div>

            <div class="security">
                <h3>セキュリティエンジニアとは？</h3>
                <img src="image/image/セキュリティエンジニア.png" alt="">
                <ul>
                    <li>基礎的なIT技術系のスキルと知識</li>
                    <li>経営に関する知識</li>
                    <li>法律に関する知識</li>
                    <li>規格認証に関する知識</li>
                    <li>サーバーやネットワーク、OSの知識</li>
                    <li>サイバーセキュリティに関する知識</li>
                </ul>
                <p>セキュリティエンジニアは、サイバー攻撃の脅威から組織のネットワークや
                    システムを守るのが主な業務です。
                    1日、セキュリティエンジニアは、サイバー攻撃の脅威から組織のネットワークやシステムを守るのが主な業務です。
                    1日に200万個誕生していると 1日に200万個誕生していると言われる様々な
                    脅威に対して、新たな攻撃手法や技術に関する調査を行い、
                    対策を講じ続けます。</p>
            </div>


            <div class="game">
                <h3>ゲームエンジニアとは？</h3>
                <img src="image/image/ゲーム画像.png" alt="">
                <ul>
                    <li>プログラミングスキル</li>
                    <li>ゲームエンジンのスキル</li>
                    <li>コミュニケーションスキル</li>
                    <li>数学や物理に関する知識</li>
                    <li>英語力</li>

                </ul>
                <p>ゲームエンジニアとは、家庭用ゲームやスマ―トフォンアプリケーションのゲーム、PCゲームなどの制作に携わるエンジニアです。
                    ゲームプログラマーと呼ばれることもありますが、近年はゲーム制作に
                    必要な知識がプログラミングに限らないため、より広い職務を示すエンジニアという表現が多く使われています。
                    ゲームの基本的な動作や、シナリオに沿ったイベント処理を実装する
                    職種です。一般的なゲームエンジニアといえば、このゲームプログラマーを
                    指すことが多いでしょう。
                    ただし、シナリオやイベント内容の作成などはデザイナーや
                    シナリオライター、プランナーが担当することが多いため、
                    プログラミング業務の比重が高くなりがちです。
                </p>
            </div>
        </div>






    </main>

    <footer>
        <p class="copyright">Copyright©2024 d-coreer天王寺オフィス</p>

    </footer>
</body>

</html>